<div class="min-h-screen flex items-center justify-center p-6">
  <div class="w-full max-w-7xl overflow-hidden grid grid-cols-1 lg:grid-cols-2 p-4">

    <!-- LEFT SIDE -->
    <div class="hidden lg:flex flex-col items-center justify-center p-10">
      <div class="w-full rounded-md shadow-lg overflow-hidden mb-4">
        <img src="/images/cart.png" class="w-full h-96" alt="Shopping Cart">
      </div>

      <h2 class="text-3xl font-bold text-gray-800 text-center">
        FreshCart - Your One-Stop Shop for Fresh Products
      </h2>

      <p class="text-gray-500 text-center mt-4 max-w-md">
        Join thousands of happy customers who trust FreshCart for their daily grocery needs
      </p>

      <div class="flex gap-8 mt-6 text-sm text-gray-600">
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-truck text-green-600"></i>
          <span>Free Delivery</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-shield-halved text-green-600"></i>
          <span>Secure Payment</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fa-solid fa-headset text-green-600"></i>
          <span>24/7 Support</span>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="p-10 bg-white rounded-2xl shadow-md">

      <!-- Logo -->
      <div class="text-center mb-6">
        <h1 class="text-3xl font-bold">
          <span class="text-green-600">Fresh</span>Cart
        </h1>
        <h2 class="text-xl font-semibold mt-2 text-gray-800">Forgot Password</h2>
        <p class="text-gray-500 text-sm mt-1">
          Reset your password to continue your fresh shopping experience
        </p>
      </div>



      <ol class="flex items-center w-full text-sm font-medium text-center text-body sm:text-base my-4 mt-10">

        <li
          class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-default after:border-px after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
          [class.text-green-700]="step() >= 1">
          <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-fg-disabled">
            @if (step() > 1) {
            <svg class="w-5 h-5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            } @else {
            <span class="me-2">1</span>
            }
            Verify <span class="hidden sm:inline-flex sm:ms-2">Email</span>
          </span>
        </li>

        <li
          class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-default after:border-px after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10"
          [class.text-green-700]="step() >= 2">
          <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-fg-disabled">
            @if (step() > 2) {
            <svg class="w-5 h-5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            } @else {
            <span class="me-2">2</span>
            }
            Verify <span class="hidden sm:inline-flex sm:ms-2">Code</span>
          </span>
        </li>

        <li class="flex items-center" [class.text-green-700]="step() === 3">
          <span class="me-2">3</span>
          Reset
        </li>
      </ol>

      @if (step() == 1) {
      <!-- Form 1 -->
      <form class="space-y-5" [formGroup]="emailForm" (ngSubmit)="sendEmail()">

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Email Address
          </label>
          <div class="relative">
            <i class="fa-solid fa-envelope absolute left-3 top-3.5 text-gray-400"></i>
            <input formControlName="email" type="email" placeholder="Enter your email"
              class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-none">
          </div>
        </div>


        <!-- @if (errorMsg()) {
                <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                    {{errorMsg()}}
                </div>
                }

                @if (successMsg()) {
                <div class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft" role="alert">
                    {{successMsg()}}
                </div>
                } -->

        <!-- Submit -->
        <button
          class="w-full cursor-pointer disabled:cursor-default disabled:bg-green-200 bg-green-600 hover:bg-green-700 text-white font-semibold py-3 rounded-lg transition">
          Submit
        </button>

      </form>
      }

      @if (step() == 2) {
      <!-- Form 2 -->
      <form class="space-y-5" [formGroup]="codeForm" (ngSubmit)="verifyCode()">

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Code
          </label>
          <div class="relative">
            <i class="fa-solid fa-check-double absolute left-3 top-3.5 text-gray-400"></i>
            <input formControlName="resetCode" type="text" placeholder="Enter reset code"
              class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-none">
          </div>
        </div>


        <!-- @if (errorMsg()) {
              <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                  {{errorMsg()}}
              </div>
              }

              @if (successMsg()) {
              <div class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft" role="alert">
                  {{successMsg()}}
              </div>
              } -->

        <!-- Submit -->
        <button
          class="w-full cursor-pointer disabled:cursor-default disabled:bg-green-200 bg-green-600 hover:bg-green-700 text-white font-semibold py-3 rounded-lg transition">
          confirm
        </button>

      </form>

      }

      @if (step() == 3) {

      <!-- Form 3 -->
      <form class="space-y-5" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Email Address
          </label>
          <div class="relative">
            <i class="fa-solid fa-envelope absolute left-3 top-3.5 text-gray-400"></i>
            <input formControlName="email" type="email" placeholder="Enter your email"
              class="w-full pl-10 pr-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-none">
          </div>
        </div>

        <!-- Password -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2">
            New Password
          </label>
          <div class="relative">
            <i class="fa-solid fa-lock absolute left-3 top-3.5 text-gray-400"></i>
            <input formControlName="newPassword" type="password" placeholder="Enter your new password"
              class="w-full pl-10 pr-10 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-none">
          </div>

        </div>


        <!-- @if (errorMsg()) {
              <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                  {{errorMsg()}}
              </div>
              }

              @if (successMsg()) {
              <div class="p-4 mb-4 text-sm text-fg-success-strong rounded-base bg-success-soft" role="alert">
                  {{successMsg()}}
              </div>
              } -->

        <!-- Submit -->
        <button
          class="w-full cursor-pointer disabled:cursor-default disabled:bg-green-200 bg-green-600 hover:bg-green-700 text-white font-semibold py-3 rounded-lg transition">
          Submit
        </button>

      </form>
      }

      <!-- Footer -->
      <div class="text-center mt-6 text-sm text-gray-600">
        Remember your password ?
        <a routerLink="/login" class="text-green-600 cursor-pointer font-medium hover:underline">
          Sign In
        </a>
      </div>

    </div>
  </div>
</div>