<swiper-container class="mySwiper" navigation="true" [pagination]="{clickable : true}" keyboard="true" mousewheel="true"
  css-mode="true">
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-3xl">Fresh Products Delivered to your Door</h2>
        <p>Get 20% off your first order</p>
        <button class="bg-white text-green-700 px-10 py-3 rounded cursor-pointer">Shop Now</button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-3xl">Fresh Products Delivered to your Door</h2>
        <p>Get 20% off your first order</p>
        <button class="bg-white text-green-700 px-10 py-3 rounded cursor-pointer">Shop Now</button>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-3xl">Fresh Products Delivered to your Door</h2>
        <p>Get 20% off your first order</p>
        <button class="bg-white text-green-700 px-10 py-3 rounded cursor-pointer">Shop Now</button>
      </div>
    </div>
  </swiper-slide>


</swiper-container>

<div>
  <section class="bg-gray-50 py-10 ">
    <div class=" px-6 container mx-auto">

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">

        <!-- Free Shipping -->
        <div class="flex items-center gap-4 bg-white p-5 rounded-2xl shadow-sm  hover:shadow-md transition">
          <div class="w-12 h-12 rounded-full bg-blue-100 flex items-center justify-center">
            <i class="fas fa-truck text-blue-600"></i>
          </div>
          <div>
            <h4 class="font-semibold text-gray-800">Free Shipping</h4>
            <p class="text-sm text-gray-500">On orders over 500 EGP</p>
          </div>
        </div>

        <!-- Secure Payment -->
        <div class="flex items-center gap-4 bg-white p-5 rounded-2xl shadow-sm  hover:shadow-md transition">
          <div class="w-12 h-12 rounded-full bg-green-100 flex items-center justify-center">
            <i class="fas fa-shield-alt text-green-600"></i>
          </div>
          <div>
            <h4 class="font-semibold text-gray-800">Secure Payment</h4>
            <p class="text-sm text-gray-500">100% secure transactions</p>
          </div>
        </div>

        <!-- Easy Returns -->
        <div class="flex items-center gap-4 bg-white p-5 rounded-2xl shadow-sm  hover:shadow-md transition">
          <div class="w-12 h-12 rounded-full bg-orange-100 flex items-center justify-center">
            <i class="fas fa-rotate-left text-orange-500"></i>
          </div>
          <div>
            <h4 class="font-semibold text-gray-800">Easy Returns</h4>
            <p class="text-sm text-gray-500">14-day return policy</p>
          </div>
        </div>

        <!-- 24/7 Support -->
        <div class="flex items-center gap-4 bg-white p-5 rounded-2xl shadow-sm  hover:shadow-md transition">
          <div class="w-12 h-12 rounded-full bg-purple-100 flex items-center justify-center">
            <i class="fas fa-headset text-purple-600"></i>
          </div>
          <div>
            <h4 class="font-semibold text-gray-800">24/7 Support</h4>
            <p class="text-sm text-gray-500">Dedicated support team</p>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>